extends layout

block content

	div(ng-app='web-clipper', ng-controller='main')
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					strong.navbar-brand
						| Web Clipper v0.1