div(ng-controller='clipper-main', class='web-clipper-widget show')
	.control

		.reveal-btn-group
			button(ng-click='data.status.asideOpen = data.status.asideOpen ? false : true')
				span.glyphicon.glyphicon-chevron-left

			button(ng-click='data._this.favorite = data._this.favorite ? false : true')
				span.glyphicon(style='top:2px',
					ng-class='"glyphicon-heart" + (data._this.favorite ? \"\" : \"-empty\")')

			button(ng-click='data.status.mode = data.status.mode === "underline" ? null : "underline";',
				ng-class='data.status.mode === "underline" ? "active" : ""')
				span.glyphicon.glyphicon-pencil(style='left:0;top:2px')


		br

		input(type='text', ng-model='data.query')

		h2
			| {{data.query}}


		ul.page-list(masonry='true')
			li.item(ng-repeat='page in data._pages | filter : data.query | orderBy : "created" : true')
				img(ng-src='{{page.thumb.src}}', width='100%')
				//.thumb(style='background-image:url({{page.thumb.src}})')
				//button.btn(ng-click='func.remove(page)')
					span.glyphicon.glyphicon-trash(style='font-size:18px')





				a(ng-href='{{page.href}}')
					//img(ng-src='{{page.thumb}}', height='46')
					| {{page.title}}

				span.badge(ng-show='page.selections.length')
					span.glyphicon.glyphicon-pencil
					| {{page.selections.length}}



				div.detail(ng-if='page._focus')
					h3 {{page.title}}
					.well {{page.desc}}
					img(ng-src='{{page.thumb}}', height='200')
					ol
						li(ng-repeat='selection in page.selections')
							| {{selection.text}}		
		br
		br

		h1 this

		pre
			| {{data._this | json}}

		h1 pages

		pre
			| {{data.pages | json}}


		button.btn(ng-click='func.toggleFavorite()')
			span.glyphicon(style='font-size:18px',
				ng-class='"glyphicon-star" + (data.current.favorite ? \"-empty\" : \"\")')

		button.btn(ng-click='func.save()')
			span.glyphicon.glyphicon-camera(style='font-size:18px')

		

		button.btn(ng-click='data.useMarker = data.useMarker ? false : true;' ng-class='data.useMarker ? "active" : ""')
			span.glyphicon.glyphicon-pencil(style='font-size:18px')


		button.btn(ng-click='func.remove()')
			span.glyphicon.glyphicon-trash(style='font-size:18px')


		br
		

				
		ul
			li
				| Test
			li
				| Test 123












